# Python
__pycache__/
*.pyc

# Environment
.env

# Google API
credentials.json
token.json
credentials_production.json
token_production.json
client_secret_*.json
__pycache__/
logs/
data/pdf/

# OS
.DS_Store